{{!-- <html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <div>
            <h3>Hi {{name}},</h3>
            <p>If you did not make this request, just ignore this email. Otherwise, please click the button below to change your password.</p>
            <p>The below link will expire in 1 hour.</p>
            <p>Click: <a href="{{url}}">{{url}}</a></p>
        </div>
    </div>
</body>
</html> --}}

<div>
    <h3>Hi {{name}},</h3>
    <p>If you did not make this request, just ignore this email. Otherwise, please click the button below to change your password.</p>
    <p>The below link will expire in 1 hour.</p>
    <p>Click: <a href="{{url}}">{{url}}</a></p>
</div>